.home {
        width: 50%;
        position: relative;
        left: 25%;
}


input {
        width: 100%;
        background-color: #032541;
        padding: 10px;
        border-radius: 5px;
        border: none;
        color: #ffff;
        font-size: 1.25rem;
}




img {
        margin-left: 10px;
}

@media only screen and (max-width: 680px) and (min-width: 350px)  {
        .home {
                width: 90%;
                position: relative;
                left: 5%;
        }
        
        input {
                width:98.5%;
        }
    }

    @media only screen and (max-width: 790px) and (min-width: 270px)  {
        .home {
                width: 90%;
                position: relative;
                left: 6%;
        }
        
        input {
                width:98%;
        }
    }