.movie-cards {
    width: 95%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    border: 0;
    display: block;
    margin-bottom: 20px;
  }
  

 .movie-cards img {
  width: 95%;
  height: 300px;
} 
  .movie-cards .overlay {
    top: 0;
    left: 0;
    border: 2px solid transparent;
    transition: all 0.3s ease;
  }
  
  .movie-cards:hover .overlay {
    border: 3px solid #21D07A;
  }
  
  .movie-cards .inner-card-controls {
    display: inline;
    background-color: red;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 2px;
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .movie-cards:hover .inner-card-controls {
    opacity: 1;
  }
  
  .ctrl-btn {
    color: #fefefe;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease;
    font-size: 2.25rem;
    padding: 5px;
    margin: 0;
  }
  
  .ctrl-btn:hover {
    color: #21D07A;
    cursor: pointer;
  }
  